@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&family=Delius+Unicase:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0px;
  /* min-height: 100vh; */
  font-family: "segoe ui";
}

.nav {
  background-color: #6f6af7;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  /* display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #6f6af7;
  position: sticky;
  top: 0;
  z-index: 100; */
}
.ham {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  padding-top: 10px;
}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;

  color: #fff;
  font-family: Delius Unicase;

  font-weight: 700;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* SEARCH BAR SECTION START */
.search-bar {
  position: relative;
}
.search-bar input {
  margin-top: 5px;
  width: 200px;
  outline: none;
  border-radius: 30px;
  border: 1px solid transparent;
}
.search-bar button {
  position: absolute;
  right: 0;
  top: 15px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
/* SEARCH BAR SECTION END */

/* Main Wrapper Area */
.mainwrapper {
  /* background-color: yellow; */
  max-width: 100vw;
  min-height: 100vh;
  margin: 70px;
}

/* Main Wrapper Area */

/* HERO AREA START*/
.hero {
  display: flex;
  /* background-color: tomato; */
  height: 20rem;
  justify-content: center;
  align-self: center;
}
.heroLeft {
  /* background-color: teal; */
}
.heroRight {
  /* background-color: slateblue; */
  width: 60%;
}
.heroRight textarea {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 6px solid #fff;
  background: #e5d8ff;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 20px;
  resize: none;
}

.heroLeft img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.heroRight {
  padding-left: 20px;
}
/* HERO AREA END*/

/* CARDS AREA */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px;
  flex-wrap: wrap;
}
.carded {
  width: 20rem;
  height: 9rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 178.7%; /* 51.823px */
  letter-spacing: 1.16px;
}
.card1 {
  border-radius: 11px;
  background: #929dff;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}
.card2 {
  border-radius: 11px;
  background: #734cf2;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}
.card3 {
  border-radius: 11px;
  background: #d288ff;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}
.card4 {
  border-radius: 11px;
  background: #000;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}
/* CARDS AREA */

/* FORM SECTION START */
.formcontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  border-radius: 21px;
  background: #483eff;
}

.buttons {
  text-align: center;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btnconfig {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.form {
  /* background-color: #f4f4f4; */
  padding: 20px;
  flex: 1;
  border-radius: 19px;
  background: #fff;
}

h3 {
  text-align: left;
  padding: 20px;
}

label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}

input {
  width: calc(100% - 120px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* FORM SECTION END */

/* FIXED ELEMENT START*/
.chaticon img {
  width: 150px;
  height: 150px;
}

/* FIXED ELEMENT END*/

@media only screen and (max-width: 600px) {
  .formcontainer {
    flex-direction: column;
  }

  .buttons {
    text-align: left;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form {
    flex: none;
  }
  .hero {
    flex-direction: column;
  }
  .heroLeft {
    width: 50%;
    margin: auto;
  }
  .heroRight {
    /* background-color: #333; */
    margin: auto;
    margin-top: 20px;
    min-height: 200px;
    margin-bottom: 20px;
    width: 100%;
  }
}
.info {
  border-radius: 10px;
  background: #bce0f6;
  color: #000;

  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
}
.bookmarks {
  border-radius: 10px;
  background: #483eff;
  border: 2px solid white;
  color: white;
}
.settings {
  border-radius: 10px;
  background: #483eff;
  border: 2px solid white;
  color: white;
}
/* FORM SECTION END */

.chaticon {
  position: fixed;
  right: 0;
  bottom: 0;
}
.btnwrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.insidebtn {
  border-radius: 9px;
  background: #000;
  color: white;
  height: 3rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  gap: 10px;
}
/* FLOATING SIDEBAR START */
.sidebar img {
  height: 150px;
}
.sidebar {
  position: absolute;
  right: 0;
  top: 200px;
  /* background-color: #333; */
}
/* FLOATING SIDEBAR END */

/* MEDIA QUERIES  */
@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .ham {
    display: none;
  }
  .search-bar {
    display: none;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
